@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,600i,700,800');

body {
font-family: 'Montserrat', sans-serif;
line-height:28px;
font-size:14px;
}
.brand-logo img {
  width:100px;
}
.carousel h4 {
  text-transform: uppercase;
  font-size:28px;
  color:white;
  margin-top:75px;
}
.carousel p {
  width:30%;
  margin-left:400px;
  font-weight:300;
  font-size:10px;
}
.item-1 {
background-image:url(../images/staufs-cover.png);
background-repeat:no-repeat;
}
.top-nav {
  float:right;
  clear:both;
}
