@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,600i,700,800');
.above li {
    display: inline;
    width: 100px;
    padding-left:5px;
    text-transform: uppercase;
    font-size: 10px;
}
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  width:160px;
}
.brand-logo {
  position:relative; top:-40px;
  margin-left:10px;
}
.above ul {
  margin-left:895px;
}
.above .left {
  border-right:solid 1px;
  padding-right:15px;
}
.dropdown-button {
  color:black;
}
.dropdown-button i {
  margin-left:5px;
  margin-top:0px;
}
.dropdown-content li a{
  color:#a1887f;
  font-size: 10px;
}
body {
font-family: 'Montserrat', sans-serif;
line-height:28px;
font-size:14px;
}
.brand-logo img {
  width:100px;
}
h3 {
  font-size:18px;
  text-transform: uppercase;
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
}
nav li a {
  text-transform: uppercase;
  font-weight:500;
  font-size:12px;
}
.caption div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:60%;
}
.caption h4 {
  text-transform: uppercase;
}
.top-nav {
  float:right;
  clear:both;
}
footer {
  font-size:10px;
  margin-top:100px;
}
footer li {
  display: inline;
  width: 100px;
  padding-left:5px;
  text-transform: uppercase;
  font-size: 12px;
}
